@import 'components/loading';
@import 'components/auto-complete';
@import 'components/dosage-set-morning-noon-evening-night';
@import 'components/dosage-set';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  cursor: default;
}

#main-container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 500px;
}

#main-content {
  border: 1px solid black;
}
